<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h3>Напишите нам</h3>
        <table>
            <tr>
                <td><p>Ваше имя: </p></td>
                <td>
                    <p>
                        <input [(ngModel)]="nameInputString" placeholder="Name" required type="text" />
                        <!--<input type="text" name="Name" required />-->
                    </p>
                </td>
            </tr>
            <tr>
                <td><p>Ваш Email: </p></td>
                <td>
                    <p>
                        <input [(ngModel)]="emailInputString" email="true" placeholder="Email" required [pattern]="emailPattern" type="text" />
                        <!--<input type="email" name="Email" pattern="[A-Za-z]{,50}.[a-z]{,1}mail.[a-z]{,5}" required />-->
                    </p>
                </td>
            </tr>
            <tr>
                <td><p>Ваш телефон: </p></td>
                <td>
                    <p>
                        <input [(ngModel)]="phoneInputString" max="89999999999" min="80000000000" pattern="[0-9]{11}" placeholder="Phone" required type="number" />
                        <!--<input type="number" class="input-number" name="Tel" pattern="[0-9]{11}" max="89999999999" min="80000000000" placeholder="89001112233" required />-->
                    </p>
                </td>
            </tr>
            <tr>
                <td><p>Тема: </p></td>
                <td>
                    <p>
                        <!--<select [(ngModel)]="themeInputString" size="1" required>
                          <option value="Техподдержка">Техподдержка</option>
                          <option value="Продажи">Продажи</option>
                          <option value="Сотрудничество">Сотрудничество</option>
                          <option value="Партнеры">Партнеры</option>
                        </select>-->
                        <select [ngModel]="themeSelectedString" (ngModelChange)="CheckTheme($event)">
                            <option *ngFor="let t of themes" [ngValue]="t">{{t.ThemeName}}</option>
                        </select>
                    </p>
                </td>
            </tr>
            <tr>
                <td><p>Ваше сообщение: </p></td>
                <td><p><textarea [(ngModel)]="contentInputString" cols="30" rows="10" required></textarea></p></td>
            </tr>
            <!--<tr>
              <td><p>Captcha: </p></td>
              <td>
              </td>
            </tr>-->
        </table>
        <button (click)="add(nameInputString, emailInputString, phoneInputString, themeSelectedString, contentInputString)" class="btn-primary">Send</button>
        <!--<button type="submit">Отправить</button>-->
    </div>
    <!--<div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Theme</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" >
                    <td>{{user.name}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>-->
</body>
</html>